body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "roboto", sans-serif;
}

.d-none {
  display: none;
}

.noScroll {
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  padding: 12px 48px;
  box-shadow: -1px 8px 7px -2px rgba(0, 0, 0, 0.1);
}

header div {
  height: 100%;
  display: flex;
  align-items: center;
}

.pikachu {
  height: 100%;
}

.logo {
  height: 100%;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokeball {
  height: 48px;
  rotate: -30deg;
  transition: 125ms ease-in-out;
  cursor: pointer;
}

.pokeball:hover {
  height: 70px;
  transition: 125ms ease-in-out;
  rotate: 0deg;
}

.pokeball-active {
  height: 70px;
  transition: 125ms ease-in-out;
  rotate: 0deg;
}

.background-image {
  position: fixed;
  bottom: -155px;
  right: -216px;
  opacity: 0.05;
  filter: grayscale(1);
  overflow-x: hidden;
}

main {
  flex-grow: 1;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 48px;
}

.card-my-definition {
  max-height: 400px;
  cursor: pointer;
  border: 2px solid rgb(101, 101, 101);
  box-shadow: 13px 15px 7px -2px rgba(0, 0, 0, 0.15);
}

.card-my-definition:hover {
  opacity: 0.7;
  transition: 125ms ease-in-out;
}

.card-my-definition img {
  min-width: 180px;
  max-width: 18rem;
}

.typesContainer {
  display: flex;
  gap: 16px;
}

.card-img,
.card-img-top {
  border-top-left-radius: var(--bs-card-inner-border-radius);
  border-top-right-radius: var(--bs-card-inner-border-radius);
  background-color: rgba(0, 0, 0, 0.7);
}

.bg-secondary {
  --bs-bg-opacity: 1;
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.id {
  position: absolute;
  top: 0;
  right: 0;
  background-color: none;
}

.background-show-info-pokemon {
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
}

.info-card-my-definition {
  position: absolute;
  top: 48px;
  left: 50%;
  max-width: 352px;
  max-height: 90%;
  margin-left: -176px;
  box-shadow: 13px 15px 7px -2px rgba(0, 0, 0, 0.15);
}

.card-body-info {
  overflow-y: scroll;
}

table {
  margin: 16px 0;
}

tr:nth-child(even) {
  background-color: #e6e6e6;
}

td {
  text-align: left;
  padding: 4px 24px;
}

td:last-child {
  font-weight: 600;
}

.btn-close-my-definition {
  position: absolute;
  top: 4px;
  right: 4px;
}

.nav-link {
  padding: 8px;
}

h3::first-letter {
  text-transform: capitalize;
}

.movesContainer {
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  gap: 4px;
  max-height: 300px;
}

.filter {
  position: absolute;
  top: 20px;
  right: 120px;
  background-color: white;
  border-radius: 5px;
  padding: 16px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  box-shadow: 13px 15px 7px -2px rgba(0, 0, 0, 0.15);
}

.filter td {
  vertical-align: middle;
}

@media (max-width: 748px) {
  .pikachu {
    height: 50%;
  }
  .logo {
    height: 50%;
  }
  header {
    padding: 12px 16px;
  }
}

@media (max-width: 352px) {
  .info-card-my-definition {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 300px;
    min-height: 500px;
    margin-top: -400px;
    margin-left: -150px;
  }
}
